@import '@/styles/variables';
@import '@/styles/mixins';

.wrapper {
  width: 100%;
}

.container {
  @extend %container;
}

.title {
  @include setFont($poppins, 3rem, 600, #333333, 4rem);
  text-transform: uppercase;
  text-align: end;
  margin-bottom: 80px;
}

.title strong {
  color: #F0643C;
}

.list {
  position: relative;
  width: 100%;
}