@import '@/styles/variables';
@import '@/styles/mixins';

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  gap: 36px;
  border: 1px solid #FFF;
  border-radius: 12px;

  @include setMedia('sm') {
    padding: 12px 20px;
  }

  @include setMedia('lg') {
    padding: 23px 32px;
  }
}

.order {
  @include setFont($poppins, 1rem, 400, #FFF, 2rem);
}

.title {
  @include setMedia('sm') {
    @include setFont($poppins, 2rem, 700, #FFF, 2.5rem);
  }

  @include setMedia('lg') {
    @include setFont($poppins, 3rem, 700, #FFF, 4rem);
  }
}

.description {
  @include setMedia('sm') {
    @include setFont($poppins, .8rem, 400, #FFF, 1.6rem);
  }

  @include setMedia('md') {
    @include setFont($poppins, .9rem, 400, #FFF, 1.8rem);
  }

  @include setMedia('lg') {
    @include setFont($poppins, 1rem, 400, #FFF, 2rem);
  }
}