@import '@/styles/variables';
@import '@/styles/mixins';

.wrapper {
  display: flex;
  flex-direction: column;
  padding: 23px 32px;
  gap: 36px;
  border: 1px solid #FFF;
  border-radius: 12px;
}

.order {
  @include setFont($poppins, 1rem, 400, #FFF);
  line-height: 2rem;
}

.title {
  @include setFont($poppins, 3rem, 700, #FFF);
  line-height: 4rem;
}

.description {
  @include setFont($poppins, 1rem, 400, #FFF);
  line-height: 2rem;
}