@import '@/styles/variables';
@import '@/styles/mixins';

.vacancy {
  transform: rotate(0);
  transition: transform .5s ease;
}

.arrow {
  @extend %reset-button;
  cursor: pointer;
}

.vacancy.active .arrow {
  transform: rotate(90deg);
}

.vacancy + .vacancy {
  margin-bottom: 56px;
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #000;
  width: 100%;

  @include setMedia('sm') {
    padding: 4px 0;
  }

  @include setMedia('lg') {
    padding: 16px 0;
  }
}

.title {
  @include setMedia('sm') {
    @include setFont($poppins, 1.5rem, 700, #000, 3rem);
  }

  @include setMedia('lg') {
    @include setFont($poppins, 3rem, 700, #000, 4rem);
  }
}

.content {

  max-height: 0;
  overflow: hidden;
  transition: max-height .5s ease;

  @include setMedia('sm') {
    margin-top: 20px;
  }

  @include setMedia('lg') {
    margin-top: 56px;
  }
}

.vacancy.active .content {
  max-height: 300px;
}

.description {
  width: 380px;

  @include setMedia('sm') {
    @include setFont($poppins, .8rem, 400, #333, 1.6rem);
  }

  @include setMedia('lg') {
    @include setFont($poppins, 1rem, 400, #333, 2rem);
  }
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

.location {


  @include setMedia('sm') {
    @include setFont($poppins, .8rem, 600, $gray, 1.6rem);
  }

  @include setMedia('lg') {
    @include setFont($poppins, 1rem, 600, $gray, 2rem);
  }
}

.link {
  border: 1px solid $gray;
  border-radius: 50px;
  text-decoration: none;
  transition: background .3s ease, color .3s ease;

  @include setMedia('sm') {
    @include setFont($poppins, .8rem, 400, $gray, 1.6rem);
    padding: 4px 10px;
  }

  @include setMedia('lg') {
    @include setFont($poppins, 1rem, 400, $gray, 2rem);
    padding: 4px 24px;
  }
}

.link:hover {
  color: #FFF;
  background-color: $gray;
}