@import '@/styles/variables';
@import '@/styles/mixins';

.prideImage {
  margin-top: auto;


  @include setMedia('lg') {
    padding-top: 60px;
  }

  @include setMedia('xl') {
    height: 300px;
  }
}

.quality {
  color: #FFF;
  background-color: #333333;
}