@import '@/styles/variables';
@import '@/styles/mixins';

.wrapper {
  min-height: 100vh;
  scroll-snap-align: start;
  background-color: #F3F3F3;

  @include setMedia('sm') {
    padding: 90px 0;
  }

  @include setMedia('lg') {
    padding: 89px 0;
  }
}

.container {
  @extend %container;
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include setMedia('sm') {
    align-items: initial;
    flex-direction: column;
  }

  @include setMedia('lg') {
    flex-direction: initial;
    margin-bottom: 90px;
  }
}

.title {
  width: 100%;
  text-transform: uppercase;

  @include setMedia('sm') {
    @include setFont($poppins, 2rem, 700, #000);
    margin-bottom: 20px;
  }

  @include setMedia('lg') {
    @include setFont($poppins, 3rem, 700, #000);
  }
}

.description {
  flex-shrink: 2;

  @include setMedia('sm') {
    @include setFont($poppins, .8rem, 400, #000, 1.6rem);
    margin-bottom: 30px;
  }

  @include setMedia('lg') {
    @include setFont($poppins, .9rem, 400, #000, 2rem);
  }

  @include setMedia('xl') {
    @include setFont($poppins, 1rem, 400, #000, 2rem);
  }
}

.vacancies {
  position: relative;

  @include setMedia('sm') {
    padding: 0;
  }

  @include setMedia('lg') {
    padding-left: 40%;
  }
}