@import '@/styles/variables';
@import '@/styles/mixins';

.wrapper {
  min-height: 100vh;
  scroll-snap-align: start;
  background-color: #F3F3F3;

  @include setMedia('lg') {
    padding: 70px 0;
  }

  @include setMedia('xl') {
    padding: 89px 0;
  }
}

.container {
  @extend %container;
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include setMedia('lg') {
    margin-bottom: 40px;
  }

  @include setMedia('xl') {
    margin-bottom: 90px;
  }
}

.title {
  width: 100%;
  text-transform: uppercase;

  @include setMedia('lg') {
    @include setFont($poppins, 3rem, 700, #000);
  }

  @include setMedia('xl') {
    @include setFont($poppins, 3rem, 700, #000);
  }
}

.description {
  flex-shrink: 2;

  @include setMedia('lg') {
    @include setFont($poppins, 1rem, 400, #000, 2rem);
  }

  @include setMedia('xl') {
    @include setFont($poppins, 1rem, 400, #000, 2rem);
  }
}

.vacancies {
  position: relative;
  padding-left: 40%;
}