@import '@/styles/variables';
@import '@/styles/mixins';

.content {
  @extend %screen-scroll;
  position: relative;
  width: 100%;
  background-image: url('../../assets/images/hero-background.png');
  background-repeat: no-repeat;
  background-size: 100% 130%;
  overflow: hidden;
}

.content.textInversed {
  background: none;
}

.container {
  @extend %container;
  display: flex;
  align-items: flex-end;
  height: 100%;
}

.content.textInversed .title {
  background-image: url('../../assets/images/hero-background.png');
  background-repeat: repeat;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.title {
  transform: translateY(-50px);
  animation: animateTitle 1s ease forwards;
  animation-delay: 1s;
  opacity: 0;

  @include setMedia('sm') {
    @include setFont($poppins, 2.6rem, 700, #FFF, 3.4rem);
    margin-bottom: 50px;
  }

  @include setMedia('md') {
    @include setFont($poppins, 3rem, 700, #FFF, 4rem);
    margin-bottom: 50px;
  }

  @include setMedia('lg') {
    @include setFont($poppins, 4rem, 700, #FFF, 5.5rem);
    margin-bottom: 50px;
  }

  @include setMedia('xl') {
    @include setFont($poppins, 6rem, 700, #FFF, 7.5rem);
    margin-bottom: 115px;
  }
}

.decorations {
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  user-select: none;
  pointer-events: none;
}

.triangles {
  position: absolute;
  top: 30%; right: -40%;
  width: 100%;
  height: 100%;
  transform: scale(1.5);
}

.triangles img {
  @extend %img-fit;
}

@keyframes animateTitle {
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes decorationsAppear {
  100% {
    transform: translate(0);
    opacity: 1;
  }
}