@import '@/styles/variables';
@import '@/styles/mixins';

.logo {
  width: 73px;
  height: 23px;
}

.nav {
  position: relative;
}

.white .link {
  color: #FFF!important;
}

.black .link {
  color: #000!important;
}

.link {
  position: relative;
  mix-blend-mode: difference;
  @include setFont($poppins, 1rem, 400, #FFF);
  line-height: 1.5rem;
  text-decoration: none;
  text-transform: uppercase;
  transition: color .3s ease;
}

.link + .link {
  margin-left: 52px;
}

.main .language {
  color: #F0643C;
}