@import '@/styles/variables';
@import '@/styles/mixins';

.wrapper {
  position: relative;
  width: 100%;
  height: 300px;
  padding: 15px 20px;
  border: 1px solid #333;
  border-radius: 12px;
  overflow: hidden;
  z-index: 1;

  @include setMedia('lg') {
    height: 320px;
  }

  @include setMedia('xl') {
    height: 410px;
  }
}

.imagePreview {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  margin-bottom: 24px;
  overflow: hidden;
  transition: max-height .5s ease;

  @include setMedia('lg') {
    max-height: 160px;
  }

  @include setMedia('xl') {
    max-height: 240px;
  }
}

.imagePreview img {
  @extend %img-fit;
  object-fit: cover;
}

.background {
  position: absolute;
  bottom: -100%; left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  border-radius: 20px;
  overflow: hidden;
  transition: 1s bottom ease, .5s border-radius ease;
}

.wrapper:hover .background {
  bottom: 0;
  border-radius: 0;
}

.wrapper:hover .imagePreview {
  max-height: 0;
}

.wrapper:hover .title,
.wrapper:hover .description {
  color: #FFF;
  transition: 1s color ease;
}

.wrapper:hover .tag {
  color: #FFF;
  border: 1px solid #FFF;
  transition: 1s color ease, 1s border ease;
}

.tag, .description {
  @include setFont($poppins, 1rem, 400, #333, 2rem);
}

.tag {
  display: block;
  width: min-content;
  border: 1px solid #333;
  border-radius: 50px;
  padding: .4rem 1.2rem;
  margin-bottom: 24px;
}

.title {
  @include setFont($poppins, 1.5rem, 600, #333);
  word-break: break-all;
  line-height: 2rem;
  text-transform: uppercase;
  margin-bottom: 24px;
}