@import '@/styles/variables';
@import '@/styles/mixins';

.wrapper {
  @extend %screen-scroll;
  background-color: #333;
  padding: 84px 0;
}

.container {
  @extend %container;
}

.title {
  @include setFont($poppins, 3rem, 700, #FFF);
  line-height: 4.5rem;
  margin-bottom: 104px;
  text-align: end;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}