@import '@/styles/variables';
@import '@/styles/mixins';

.wrapper {
  @extend %screen-scroll;
  background-color: #333;
  padding: 84px 0;
}

.container {
  @extend %container;
  height: 100%;
}

.title {
  text-align: end;

  @include setMedia('sm') {
    @include setFont($poppins, 2rem, 700, #FFF, 2.5rem);
    margin-bottom: 50px;
  }

  @include setMedia('lg') {
    @include setFont($poppins, 3rem, 700, #FFF, 4.5rem);
    margin-bottom: 104px;
  }
}

.slider {
  height: 100%;
}

.sliderItem {
  height: 500px!important;
}

.slideNext {

}