@import '@/styles/variables';
@import '@/styles/mixins';

.wrapper {
  @extend %screen-scroll;
  position: relative;
  width: 100%;

  @include setMedia('lg') {
    padding: 60px 0;
  }

  @include setMedia('xl') {
    padding: 96px 0;
  }
}

.container {
  @extend %container;
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  @include setMedia('lg') {
    margin-bottom: 50px;
  }

  @include setMedia('xl') {
    margin-bottom: 150px;
  }
}

.title {
  @include setFont($poppins, 3rem, 600, #333);
  position: relative;
  top: 30px;
  line-height: 4.5rem;
  text-transform: uppercase;
  
  @include setMedia('md') {
    @include setFont($poppins, 2rem, 600, #333, 3.5rem);
  }
}

.courses {
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 35px;
  margin-top: auto;
}