@import '@/styles/variables';
@import '@/styles/mixins';

.wrapper {
  @extend %screen-scroll;
  position: relative;
  width: 100%;
  background-color: #333333;

  @include setMedia('lg') {
    padding: 60px 0;
  }

  @include setMedia('xl') {
    padding: 96px 0;
  }
}

.container {
  @extend %container;
}

.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 100px;
  width: 100%;
  

  @include setMedia('lg') {
    margin-bottom: 50px;
  }

  @include setMedia('xl') {
    margin-bottom: 150px;
  }
}

.title {
  @include setFont($poppins, 3rem, 600, #FFF);
  position: relative;
  top: 30px;
  line-height: 4.5rem;
  text-transform: uppercase;
  // flex-shrink: 2;
  
  @include setMedia('md') {
    @include setFont($poppins, 2rem, 600, #FFF, 3.5rem);
  }
}

.description {
  @include setFont($poppins, 1rem, 400, #FFF);
  line-height: 2rem;
  width: 500px;
}

.courses {
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 35px;
  margin-top: auto;
}