@use '@/styles/variables' as v;
@use '@/styles/mixins' as m;

.wrapper {
  position: relative;
  width: 100%;
  min-height: 110vh;
  background-color: #333333;
  padding-top: calc(56px + 40px);
  z-index: -1;
}

.container {
  @extend %container;
  height: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 150px;
}

.title {
  @include m.font(v.$poppins, 3rem, 600, #FFF);
  line-height: 4rem;
  text-transform: uppercase;
  width: 100%;
  flex-shrink: 2;
}

.description {
  @include m.font(v.$poppins, 1.5rem, 400, #FFF);
  line-height: 2rem;
  width: 100%;
}

.courses {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 35px;
  margin-top: auto;
}