@import '@/styles/variables';
@import '@/styles/mixins';

.wrapper {
  @extend %screen-scroll;
  background-color: #F3F3F3;
  padding: 84px 0;
}

.container {
  @extend %container;
}

.title {
  @include font($poppins, 3rem, 700, #000);
  line-height: 4.5rem;
  margin-bottom: 104px;
}

.list {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}