@import '@/styles/variables';
@import '@/styles/mixins';

.wrapper {
  scroll-snap-align: start;
  padding: 92px 0;
  background-color: #FFF;
}

.container {
  @extend %container;

  display: flex;
  flex-direction: column;
  gap: 120px;
}

.text {
  margin-left: 40%;
}

.counters {
  width: 60%;
}