@use '@/styles/variables' as v;
@use '@/styles/mixins' as m;

.wrapper {
  position: relative;
  top: -20px;
  width: 100%;
  height: 300px;
  background-color: #FFF;
  border-radius: 25px;
}

.container {
  @extend %container;

  gap: 31px;
  padding-top: 158px;
}

.about {
  display: flex;
  justify-content: space-between;
  margin-bottom: 108px;
}

.info {
  position: relative;
}

.title {
  @include m.font(v.$poppins, 3rem, 600, #000);
  margin-bottom: 24px;
}

.description {
  @include m.font(v.$poppins, 1rem, 400, #000);
  line-height: 32px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  width: 100%;
  height: 250px;
}