@import '@/styles/variables';
@import '@/styles/mixins';

.slide {
  opacity: 0;
  transition: 0.5s ease;
  pointer-events: none;
  position: absolute;
  transform: translateY(0);
  &.current {
    opacity: 1;
    transform: translateY(0);
  }
  &.animating-next {
    opacity: 0;
    transform: translateY(50%);
  }
  &.animating-prev {
    opacity: 0;
    transform: translateY(-50%);
  }
  &.animating-next-top {
    opacity: 0;
    transform: translateY(-50%);
  }
  &.animating-prev-bottom {
    opacity: 0;
    transform: translateY(50%);
  }
  &.animating-next-bottom {
    opacity: 0;
    transform: translateY(50%);
  }
  &.animating-prev-top {
    opacity: 0;
    transform: translateY(-50%);
  }
}

.title {
  display: block;
  @include setFont($poppins, 3rem, 600, #ffffff);
  margin-bottom: 10px;

  @include setMedia('sm') {
    @include setFont($poppins, 1.2rem, 600, #fff, 1.6rem);
  }

  @include setMedia('md') {
    @include setFont($poppins, 1.6rem, 600, #fff, 2rem);
  }

  @include setMedia('lg') {
    @include setFont($poppins, 3rem, 600, #fff, 4rem);
    margin-bottom: 24px;
  }
}

.text {
  display: block;
  @include setFont($poppins, 1.5rem, 400, #ffffff, 3rem);

  @include setMedia('sm') {
    @include setFont($poppins, .6rem, 400, #fff, 1.2rem);
  }

  @include setMedia('md') {
    @include setFont($poppins, .8rem, 400, #fff, 1.4rem);
  }

  @include setMedia('lg') {
    @include setFont($poppins, 1rem, 400, #fff, 2rem);
  }

  @include setMedia('xl') {
    @include setFont($poppins, 2rem, 400, #fff, 3rem);
  }
}
