@import '@/styles/variables';
@import '@/styles/mixins';

.wrapper {
  position: relative;
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.headItem {
  @include setFont($poppins, 1rem, 400, #949494, 2rem);
  text-transform: uppercase;
}

.title {
  @include setFont($poppins, 2rem, 600, #333, 3rem);
  margin-bottom: 24px;
}

.description {
  @include setFont($poppins, 2rem, 400, #333, 3rem);
}