@import '@/styles/variables';
@import '@/styles/mixins';

.content {
  @extend %screen-scroll;
  position: relative;
  width: 100%;
  background-image: url('../../assets/images/hero-background.png');
  background-repeat: no-repeat;
  background-size: 100% 130%;
  overflow: hidden;
}

.content.textInversed {
  background: none;
}

.container {
  @extend %container;
  display: flex;
  align-items: flex-end;
  height: 100%;
}

.content.textInversed .title {
  background-image: url('../../assets/images/hero-background.png');
  background-repeat: repeat;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.title {
  @include font($poppins, 6rem, 700, #FFF);
  line-height: 7.5rem;
  margin-bottom: 115px;
  transform: translateY(-50px);
  opacity: 0;
  animation: animateTitle 1s ease forwards;
  animation-delay: 1s;
}

.decorations {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.decorations img {
  position: absolute;
  bottom: 50px; right: 0;
  opacity: 0;
  transform: translateY(-30px);
  animation: decorationsAppear .8s ease forwards;
}

.decorations img:nth-child(1) {
  bottom: 200px;
  right: 400px;
  animation-delay: 1s;
}

.decorations img:nth-child(2) {
  right: 0;
  animation-delay: 1.4s;
}

.decorations img:nth-child(3) {
  right: 120px;
  bottom: -160px;
  transform: rotate(60deg)!important;
  animation-delay: 1.6s;
}

@keyframes animateTitle {
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes decorationsAppear {
  100% {
    transform: translate(0);
    opacity: 1;
  }
}