@import '@/styles/variables';
@import '@/styles/mixins';

.wrapper {
  @extend %screen-scroll;
  background-color: #EEEEEE;
}

.container {
  @extend %container;
  display: flex;
  align-items: center;
  height: 100%;
}

.text {
  width: 75%;

  @include setMedia('sm') {
    width: 100%;
  }

  @include setMedia('md') {
    width: 75%;
  }
}