@import '@/styles/variables';
@import '@/styles/mixins';

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
  height: 193px;
  padding: 0 120px;
  background-image: url('../../../assets/images/hero-background.png');
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 12px;
  overflow: hidden;
}

.item {
  text-align: center;
}

.title {
  @include setFont($poppins, 3rem, 600, #FFF, 5rem);
  margin-bottom: 10px;
}

.description {
  @include setFont($poppins, 1rem, 400, #FFF);
}

