@use '@/styles/variables' as v;

%standard {
    position: absolute;
    width: 100%;
    height: 70px;
    z-index: 99;
}

.main {
    @extend %standard;
}

.alternative {
    @extend %standard;
}

.container {
    @extend %container;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 27px;
    width: 100%;
}

.logo {
    width: 73px;
    height: 23px;
}

.nav {
    position: relative;
}

.link {
    color: #000;
    font-family: v.$poppins;
    text-decoration: none;
    text-transform: uppercase;
    margin-left: 52px;
}


.main .language {
    color: #F0643C;
}

.alternative .link {
    color: #FFF;
}