@import '@/styles/variables';
@import '@/styles/mixins';

.wrapper {
    position: fixed;
    z-index: 98;
    width: 100%;
    height: 70px;
}

.container {
    @extend %container;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 27px;

    @include setMedia('sm') {
        padding-top: 10px;
    }

    @include setMedia('md') {
        padding-top: 27px;
    }
}