@import '@/styles/variables';
@import '@/styles/mixins';

.wrapper {
  @extend %screen-scroll;
  padding: 92px 0;
  background-color: #EEEEEE;
}

.title-container {
  @extend %container;
  display: flex;

  width: 100%;

  & > div {
    width: 100%;
  }
}

.container {
  @extend %container;
  display: flex;
  width: 100%;
  height: 100%;
  @include setMedia('sm') {
    flex-direction: column;
    gap: 15px;
  }

  @include setMedia('lg') {
    flex-direction: initial;
    justify-content: space-between;
    gap: 41px;
  }
}

.image {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #E0E0E0;
  border-radius: 12px;
  overflow: hidden;
  min-height: 100px;

  @include setMedia('lg') {
    flex-shrink: .6;
  }

  @include setMedia('xl') {
    flex-shrink: .4;
  }
}

.image img {
  @extend %img-fit;
}

.info {
  position: relative;
}

.title {


  @include setMedia('sm') {
    @include setFont($poppins, 2.2rem, 600, #333);
  }

  @include setMedia('lg') {
    @include setFont($poppins, 3rem, 600, #333);
    margin-bottom: 24px;
  }
}

.description {


  @include setMedia('sm') {
    @include setFont($poppins, 1rem, 400, #000, 2rem);
    margin-bottom: 30px;
  }

  @include setMedia('lg') {
    @include setFont($poppins, 1rem, 400, #000, 2rem);
    margin-bottom: 76px;
  }
}

.link {
  display: flex;
  align-items: center;
  width: fit-content;
  border-bottom: 1px solid #333;
  text-decoration: none;
  transition: background .3s ease, color .3s ease;


  span {
    @include setMedia('sm') {
      margin-right: 30px;
    }

    @include setMedia('lg') {
      margin-right: 50px;
    }
  }

  @include setMedia('sm') {
    @include setFont($poppins, .8rem, 400, #333, 2rem);
  }

  @include setMedia('xl') {
    @include setFont($poppins, 1rem, 400, #333, 2.2rem);
  }
}
