@import '@/styles/variables';
@import '@/styles/mixins';

.wrapper {
  position: relative;
  @extend %screen-scroll;
  background-color: #F3F3F3;
  padding: 84px 0;
}

.container {
  @extend %container;
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 42px;
}

.title {
  @include font($poppins, 3rem, 600, #000);
  line-height: 4rem;
  margin-bottom: 24px;
  text-transform: uppercase;
}

.buttons {
  position: relative;
  display: flex;
  align-items: center;
  gap: 12px;
}

.button {
  @extend %reset-button;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 46px;
  border: 1px solid #949494;
  border-radius: 100%;
  overflow: hidden;
  transition: .5s ease border;
}

.button:first-child svg {
  transform: rotate(180deg);
}

.button path {
  stroke: #949494;
  transition: .5s ease stroke;
}

.button:hover {
  border: 1px solid #333;
}

.button:hover path {
  stroke: #333;
}

.slider {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 100%;
  gap: 41px;
}