@import '@/styles/variables';
@import '@/styles/mixins';

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.image {
  position: relative;
  align-self: flex-end;
  width: 128px;
  height: 128px;
  background-color: #D9D9D9;
  margin-bottom: 24px;
}

.image img {
  @extend %img-fit;
  
}

.title {
  @include setFont($poppins, 2rem, 700, $gray);
  line-height: 3rem;
  text-transform: uppercase;
  width: 250px;
  margin-bottom: 24px;
}

.description {
  @include setFont($poppins, 1rem, 400, $gray);
  line-height: 2rem;
}