@import '@/styles/variables';
@import '@/styles/mixins';

$appearDelay: 1s;
$circleSize: 500px;

.wrapper {
  position: absolute;
  top: -300px;
  right: 0;
  width: $circleSize;
  height: $circleSize;
  background-image: url('../../assets/images/hero-background.png');
  background-size: 100% 130%;
  background-repeat: no-repeat;
  border-radius: 50%;
  overflow: hidden;
  opacity: 0;
  transition: .5s top ease, .5s right ease, 1s width ease, 1s height ease, .5s border-radius ease, 1s opacity ease;
  pointer-events: none;

  @include setMedia('sm') {
    padding: 0;
  }

  @include setMedia('lg') {
    padding-top: 27px;
    padding-bottom: 72px;
  }
}

.wrapper.active {
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  border-radius: 0;
  opacity: 1;
  pointer-events: all;
}

.container {
  @extend %container;
  display: flex;
  height: 100%;

  @include setMedia('sm') {
    flex-direction: column-reverse;
  }

  @include setMedia('md') {

    align-items: center;
  }

  @include setMedia('lg') {
    justify-content: center;
    align-items: center;
    flex-direction: initial;
  }
}

.lang {
  @include setFont($poppins, 1rem, 400, #FFF, 2rem);
  text-transform: uppercase;
}

.info {
  @include setFont($poppins, 1rem, 400, #FFF, 2rem);
  display: flex;
  width: 100%;

  opacity: 0;
  transform: translateY(-10px);
  transition: .5s transform ease, .5s opacity ease;

  @include setMedia('sm') {
    height: auto;
    margin-top: auto;
    justify-content: space-between;
    flex-direction: row;
  }

  @include setMedia('lg') {
    height: 100%;
    flex-direction: column;
  }
}

.address {
  margin-top: auto;
  margin-bottom: 58px;

  @include setMedia('sm') {
    margin-top: initial;
    @include setFont($poppins, .6rem, 400, #FFF, 1.2rem);
  }

  @include setMedia('md') {
    margin-top: auto;
    @include setFont($poppins, .8rem, 400, #FFF, 1.6rem);
  }

  @include setMedia('lg') {
    @include setFont($poppins, 1rem, 400, #FFF, 2rem);
  }
}

.nav {
  align-self: flex-end;
  width: 100%;
  opacity: 0;
  transform: translateY(-10px);
  transition: .5s transform ease, .5s opacity ease;

  @include setMedia('sm') {
    margin-top: auto;
  }
}

.wrapper.active .info,
.wrapper.active .nav {
  animation: appear 1s ease forwards 1s;
}

.wrapper.active .link {
  pointer-events: all;
}

@keyframes appear {
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.link {
  display: flex;
  justify-content: space-between;
  @extend %reset-link;
  text-decoration: none;
  pointer-events: none;
}

.link + .link {
  @include setMedia('sm') {
    margin-top: 20px;
  }

  @include setMedia('md') {
    margin-top: 48px;
  }

  @include setMedia('lg') {
    margin-top: 48px;
  }
}

.title {
  @include setFont($poppins, 2rem, 700, #FFF, 5rem);
  transition: .5s font-size ease-in-out;

  @include setMedia('sm') {
    @include setFont($poppins, 1.3rem, 700, #FFF, 3.5rem);
  }

  @include setMedia('md') {
    @include setFont($poppins, 1.5rem, 700, #FFF, 3.5rem);
  }

  @include setMedia('lg') {
    @include setFont($poppins, 2rem, 700, #FFF, 5rem);
  }

}

.link.active .title, .title:hover {
  @include setFont($poppins, 4.5rem, 700, #FFF, 5rem);

  @include setMedia('sm') {
    @include setFont($poppins, 2rem, 700, #FFF, 4rem);
  }

  @include setMedia('md') {
    @include setFont($poppins, 3rem, 700, #FFF, 4rem);
  }

  @include setMedia('lg') {
    @include setFont($poppins, 4rem, 700, #FFF, 5rem);
  }
}

.order {
  @include setFont($poppins, 1rem, 400, #FFF, 2rem);

  @include setMedia('md') {
    @include setFont($poppins, .8rem, 400, #FFF, 1.6rem);
  }

  @include setMedia('lg') {
    @include setFont($poppins, 1rem, 400, #FFF, 2rem);
  }
}