@import '@/styles/variables';
@import '@/styles/mixins';

.wrapper {
  position: relative;
  width: 100%;
  height: 436px;
}

.image {
  position: relative;
  height: 344px;
  background-color: #EEE;
  border-radius: 12px;
  overflow: hidden;
  margin-bottom: 24px;
}

.image img {
  @extend %img-fit;
}

.title {
  @include setFont($poppins, 1.5rem, 600, #333);
  line-height: 2.5rem;
}

.description {
  @include setFont($poppins, 1rem, 400, #949494);
  line-height: 2rem;
}