@import './mixins';

// Fonts.
$poppins: 'Poppins';
$montserrat: 'Montserrat';

// Colors.
$gray: #333;

// Breakpoints.
$breakpoints: (
  'sm': 425px,
  'md': 768px,
  'lg': 1024px,
  'xl': 1440px,
);

%reset-button {
  border: none;
  outline: none;
  background-color: transparent;
  padding: 0;
}

%reset-link {
  text-decoration: none;
  color: #000;
}

%container {
  margin: 0 auto;

  @include setMedia('lg') {
    max-width: 1200px;
    padding: 0 41px;
  }
  
  @include setMedia('xl') {
    max-width: 1440px;
    padding: 0 41px;
  }
}

%screen-scroll {
  height: 100vh;
  scroll-snap-align: start;
}

%img-fit {
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
}