// Fonts.
$poppins: 'Poppins';
$montserrat: 'Montserrat';

// Colors.
$gray: #333;

%reset-button {
  border: none;
  outline: none;
  background-color: transparent;
}

%container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 41px;
}

%screen-scroll {
  height: 100vh;
  scroll-snap-align: start;
}

%img-fit {
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

%link-button {

}